/* applies style and decoration for everything before and 
after every (*) HTML element like div, span, p
It is a way of adding consistent behavior to all your elements without having to
add to the HTML */
/* You actually prob dont need the * and before and after for what Im doing here you could just use * */
/* Before will add syles before the html element specified and after applies it after
in this case * means everythin but it could be p::before or div::after  */
*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%)
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 40%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

/* #game {
    width: 500px;
    height: 200px;
    border: solid black 1px;
}

#character {
    width: 20px;
    height: 50px;
    background-color: yellowgreen;
    position:relative;
    top: 150px;
    animation: jump 1s infinite paused
}

#character:hover {
    animation-play-state: running;
}

.animate{
    animation: jump 500ms
}

#block {
    width: 20px;
    height: 20px;
    background-color: purple;
    position: relative;
    top: 130px;
    left: 480px;  
    animation: block 1000s linear infinite
}

@keyframes block {
    0%{left:480px;}
    100%{left:-40px;}
    
}

@keyframes jump {
    0%{top:150px;}
    30%{top:50px;}
    70%{top:50px;}
    100%{top:150px;} 
} */
